/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* common */
body {
    font-family: 'Nerko One', cursive;
    text-align: center;
}

h3 {
    font-size: 20px;
    line-height: 1.2;
}
/* container */
.container {
    position: relative;
    width: 90%;
    margin: 20px auto;
    padding: 10px;
    background-color: #87CCF1;
}

/* title */
.title {
    height: 70px;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #FFF;   
}
.title > h1 {
    line-height: 70px;
}

/* boxes-container */
.main-box {
    width: 45%;
    height: 190px;
    margin: 10px auto;
    padding: 20px;
}
.main-box::after {
    content: '';
    display: table;
    clear: both;
}
.box {
    float: left;
    width: calc(100% / 4 - 20px);
    margin: 10px;
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    border-radius: 10px;
    border: 1px solid lightgrey;
    background-color: #FFF;
}
.box img {
    width: 100%;
    padding: 10px;
    visibility: hidden;
}
.box h3 {
    visibility: hidden;
}
.box.active {
    background-image: none;
    color: red;
}
.box.active img,
.box.active h3 {
    visibility: visible;
}

/* hover */
.box:hover {
    background-image: none;
}

.box:hover img,
.box:hover h3 {
    visibility: visible;
    color: orange;  
}





